@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

*{
    padding: 0;
    margin: 0;
}

.headerHome img{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
    margin-bottom:-10px;
}

.headerHome a{
color: white;
font-size: 200px;
align-self: flex-end;
position: absolute;
top: 80%;
right: 45%;
}

.headerHome a:hover{
    color: var(--c-primary);
}
.contact{
    font-family: var(--t-headings);
    color: #ffffff; 
    position: absolute;
    top: 48%;
    right:70%;
    background: var(--c-quaternary);
    border: 1px solid none ;
    padding: 20px;
    padding-right: 67px;
    padding-left: 67px;
    font-size: 20px;
    
}
.contact:hover{
    background:var(--c-geeldoorzichtig);
    color: #000000;
}
.reserveer{
    font-family: var(--t-headings);
    color: #ffffff; 
    position: absolute;
    top: 48%;
    right:20%;
    background: var(--c-quaternary);  
    border: 1px solid none;
    padding: 20px;    
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;

}
.reserveer:hover{
    background:var(--c-geeldoorzichtig);
    color: #000000;


}

.logo{
    font-family: var(--t-logo);
    font-size: 28px;
    color: #ffffff;
    padding:0px;
    margin:0px;
    position:absolute;
    margin: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: var(  --c-secondary);
    justify-content: flex-end;
  }
  nav ul#main li a {
    display: inline-block;
    padding-top:70px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:20px;
    margin: 0px;
     color: #ffffff;
     text-decoration:none;
     font-family:var(  --t-headings);
     justify-content: flex-end;
     font-size: 20px;
     line-height: 10px;
  }
  nav ul li.active{
   border-bottom: 3px solid #ffffff;
    display:block;
    line-height: 10px;
    margin-bottom:30px;
  }
  nav ul#main li a:hover {
    color: var(--c-tertiary);
  }
  .about{
      width: 400px;
      height: 183px;
      padding-left: 800px;
      padding-top:250px;
      padding-bottom: 300px;
      
  }

  h1.title{
      font-family: var(--t-headings);
      font-size:24px;
      width: 285px;
  }

  p.txt{
      font-family: var(--t-body);
      font-size: 12px;
      line-height: 1.1;
      width:354px;
  }

.jpgabout img{
    width: 533,5px;
    height: 355px;
    position: absolute;
    padding-left: 1300px;
    margin-top: -650px;
}

.images{
    display:flex;
    justify-content: space-around;
    border: 1px solid none ;
    background-color: var(--c-primary);
    padding-top:100px;
    padding-bottom:148px;

}

.images img{
    width: 539px;
    height: 809px;
}

hr{
    border-top: 2px solid var(--c-tertiary);
    width: 1605px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}
.footer a{
    display:inline-block;
    padding: 10px;
    font-size:61px;
    color: var(--c-tertiary);
    background-color: var(--c-primary);
    margin: 40px;
    text-decoration: none;
    margin-bottom:100px;
}

.footer a:hover{
    background-color: var(--c-tertiary);
    color: var(--c-primary);

}
.mobile{
    margin-top: 50px;
    margin-bottom:50px;
    margin: 0 auto;
    background-color: var(--c-primary);
    width: 160px;
    height: 61px;
    display:flex;
    justify-content: center;
}

.mobile:hover{
    background-color: var(--c-secondary)
}
.go2mobile{
    font-size: 16px;
    font-family: var(--t-headings);
    text-align: center;
    color: #ffffff;
margin-top: 20px;
}

